@model Vidly.ViewModels.CustomerViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if (Model.Customers.Count == 0)
{
    <p>There are no Customers available.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
        </tr>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td>@Html.ActionLink(customer.Name, "Detail", "Customers", new {id = customer.Id}, null)</td>
                <td>@customer.MembershipType.DisplayName</td>
            </tr>
        }
    </table>
}
